<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput formControlName="login" placeholder="Informe seu login">
          <mat-error *ngIf="loginForm.get('login')?.hasError('required')">Login inválido ou não cadastrado</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Senha é obrigatória</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" (onSubmit)="onSubmit()">
          Entrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
